.cabecalhoPrincipal {
    border: 0.5px solid $cinza1;

    .conteudoCabecalhoPrincipal {
        display: flex;
        padding: 8px 16px;

        .logoCabecalhoPrincipal {
            position: relative;
            width: 140px;
            height: 30px;
        }

        .barraPesquisa {
            position: relative;
            flex: 1;


            .containerImagemLupa {
                position: fixed;
                width: 140px;
                height: 30px;
            }

            input {
                background-color: $corPrimaria4;
                border: none;
                outline: none;
                font-size: 12px;
                padding: 8px 8px 8px 36px;
            }

        }
    }
}